.mobile {
    display: none;
}
@media only screen and (max-width: 767px) {
    /* Header */
    .desktop {
        display: none !important;
    }
    .mobile {
        display: block;
        width: 100% !important;
    }
    nav.mobile ul {
        justify-content: space-around;
    }

    /* Main */
    header,
    main>section,
    footer {
        padding-left: 0;
        padding-right: 0;
    }
    main>section {
        flex-direction: column;
    }
    .primary,
    .secondary {
        width: 100% !important;
        margin: 0 !important;
    }

    /* Banner */
    #banner {
        padding-top: 0;
    }
    #banner .secondary {
        padding: 32px 16px;
        box-sizing: border-box;
    }

    /* Information */
    #information,
    #courses {
        padding-left: 16px;
        padding-right: 16px;
    }
    #information {
        padding-top: 16px;
    }

    /* Remove borders */
    #information .secondary,
    footer {
        border: none;
    }

    /* articles */
    .article {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 64px;
    }
    .article img.mobile {
        margin: 0;
    }
    .article hgroup {
        padding-left: 16px;
    }
    .article h3 {
        margin-top: 22px;
    }

    /* reset background colors */
    .article.background-color-2,
    #courses.background-color-2 {
        background-color: white;
    }

    /* Courses */
    #courses {
        gap: 8px;
    }
    #courses h2 {
        margin-bottom: 8px;
    }
    #courses .mobile h3 {
        margin: 16px 16px 24px 16px;
    }

    /* Thesis */
    #thesis {
        gap: 16px;
        padding-left: 0;
        padding-bottom: 24px;
    }

    /* Footer */
    footer {
        padding: 16px;
    }
}