body {
    margin: 0;
    font-family: sans-serif;
}
header,
main>section,
footer {
    padding-left: 24px;
}
a {
    text-decoration: none;
    color: cornflowerblue;
}

/* Color Scheme */
.color-1 {
    color: white;
}
.background-color-1 {
    background-color: white;
}
.color-2 {
    color: #999;
}
.background-color-2 {
    background-color: lightgray;
}
.color-3 {
    color: #444;
}
.color-3b {
    color: #666;
}
.background-color-3 {
    background-color: #444;
}

/* Header & Footer */
header {
    height: 64px;
    position: fixed;
    width: 100%;
    z-index: 10;
    box-sizing: border-box;
}
main,
footer {
    position: relative;
    top: 64px;
}
header,
footer {
    padding-right: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#logo {
    display: flex;
    align-items: center;
}
header img {
    height: 32px;
    width: auto;
    display: block;
}
#logo span {
    text-transform: uppercase;
    font-size: 1.375rem;
}
nav ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
    display: flex;
    gap: 16px;
}
footer {
    border-top: 1px solid lightgray;
    padding-top: 16px;
    padding-bottom: 16px;
}

/* Main */
main>section {
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
}
h1 {
    margin-top: 0;
    margin-bottom: 32px;;
    font-size: 2.5rem;
    font-weight: 900;
}
h2 {
    font-size: 2.25rem;
    font-weight: 900;
}
h3 {
    font-size: 1.5rem;
}
h4 {
    font-size: 1.125rem;
    font-weight: normal;
}
.primary{
    width: 60%;
    margin-right: 24px;
}
.primary img,
.primary video {
    width: 100%;
    height: auto;
}
.secondary {
    width: 40%;
}

/* Banner */
#banner {
    align-items: center;
}
#banner .secondary {
    width: 30%;
    margin-right: 10%;
}
#banner h3 {
    margin-bottom: 24px;
}
#banner button {
    width: 100%;
    padding: 8px 0;
    font-weight: 500;
    font-size: 1.125rem;
    letter-spacing: 0.1rem;
}
/* Information */
#information .secondary {
    border-left: 1px solid lightgray;
    box-sizing: border-box;
}
#information h2 {
    margin-top: 32px;
    margin-bottom: 24px;
}
#information h5 {
    margin: 0;
}

/* articles */
.article {
    display: flex;
    align-items: center;
}
.article img {
    width: 35%;
    height: auto;
    margin: 16px;
}
.first {
    margin-top: 0;
}
.last {
    margin-bottom: 0 !important;
}
.article hgroup {
    width: 65%;
}
.article hgroup>* {
    margin: 8px 0;
}

/* Courses */
#courses {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-left: 72px;
    padding-right: 72px;
    gap: 32px;
}
#courses h2 {
    margin: 0;
}
#courses .row {
    display: flex;
    gap: 32px;
}
#courses figure {
    margin: 0;
    flex-basis: 33.33%;
}
#courses figure img {
    width: 100%;
    height: auto;
    vertical-align: top;
}
#courses figcaption {
    padding: 16px;
    padding-bottom: 24px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
#courses figcaption * {
    margin: 0;
}
#courses figcaption h4:first-of-type {
    text-transform: uppercase;
}
/* Thesis */
#thesis {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    padding-left: 24px;
}
#thesis h2 {
    margin: 0;
}
#thesis article h3 {
    margin-top: 24px;
    margin-bottom: 8px;
}
#thesis article h4 {
    margin: 0;
}
#thesis>div {
    display: flex;
}
